<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Docs</title>
    <style>
        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        code {
            font-family: courier;
            padding: 1px;
            background: #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>getTemp</h1>
    <details>Description: Get current temperature<br>Parameters: <code>unit</code>, values: <code>celsius, farenheit</code> (Query Parameter)</details>
    <hr>
    <h1>getHum</h1>
    <details>Description: Get current humidity<br>Parameters: none</details>
    <hr>
    <!-- <h1>getTempHist</h1>
    <p>get temperature historical</p>
    <hr>
    <h1>getHumHist</h1>
    <p>get humidity historical</p> -->
</body>
</html>
